* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; }

body {
  background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-blanco-estilo-perspectiva-3d-forma-hexagonal_1017-27558.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover; }

header .container-fluid {
  background: white;
  background: linear-gradient(0deg, white 30%, #03213c 100%); }

.navbar {
  margin: 0px;
  padding: 0px; }

.espacio {
  margin-top: 3%;
  text-decoration: overline #1e1e39;
  font-size: 2.5em;
  text-decoration: none; }

.presentacion {
  margin: 1.5%;
  font-size: 1.1em; }

.nav-item:hover {
  background-color: lightslategray; }

.centrado {
  text-align: center; }

h1 {
  color: #120b3a;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
  overflow-y: hidden; }

p {
  color: #09374d; }

.cuadroColor {
  color: white;
  border: solid black 1px;
  border-radius: 5%;
  height: 25%;
  width: 90%;
  background-color: #09374d;
  justify-content: center;
  align-items: center; }

.marca {
  color: white;
  text-decoration: none; }
  .marca:hover {
    color: #406882; }

.banner {
  background-color: #1e1e39;
  padding: 1.5rem;
  margin: 2rem auto;
  color: white; }

.accordion-button:not(.collapsed) {
  color: #dee6f2;
  background-color: #1e1e39; }

.accordion-button {
  color: white;
  background-color: #1e1e39; }

.accordion-collapse {
  background-color: #406882;
  color: white; }

.formTitulo {
  color: white;
  margin-bottom: 10px;
  font-size: 1.5rem; }

.form {
  width: 75%;
  background-color: #1a374d;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center; }

.colorForm {
  color: white;
  margin: 15px; }

.enviar {
  margin: 5px;
  font-weight: 500px;
  cursor: pointer; }
  .enviar:hover {
    color: white;
    background-color: black; }

.row h2 {
  background-color: #406882;
  color: #fff;
  margin-left: 5px;
  margin-top: 15px;
  height: 2.2rem;
  width: 64rem; }

.carousel-inner {
  width: 75%;
  height: 30%;
  justify-content: center;
  align-items: center;
  margin: auto; }

.carousel-inner p {
  background-color: #1e1e39;
  color: white; }

.btn-group a {
  background-color: #406882; }

.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
  flex-direction: row; }

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%); }

.row {
  justify-content: center; }

.medio {
  margin: auto;
  background-color: #09374d;
  color: white;
  border: solid 7px black; }

.pie {
  display: grid;
  margin: 0;
  grid-auto-columns: 1fr 1fr;
  grid-template-columns: 280px 280px;
  justify-content: space-around;
  align-content: stretch;
  justify-items: center;
  align-items: stretch;
  gap: 10px;
  row-gap: 50px;
  background-color: #020024;
  position: relative;
  grid-template-areas: "mediosPago" "redes"; }

.mediosPago {
  text-align: center;
  height: 80%;
  width: 90%;
  margin-top: 8%;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #406882;
  border: solid 3px black;
  position: relative;
  right: 10%; }

.negrita {
  font-weight: bold;
  color: #38a1a8; }

.redes {
  text-align: center;
  display: inline-block;
  height: 80%;
  width: 90%;
  background-color: #406882;
  border: solid 3px black;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 8%;
  position: relative;
  left: 10%; }

footer img {
  margin-top: 10px; }

.cuadro {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: solid 3px black;
  overflow: visible; }

@media screen and (max-width: 677px) {
  .pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .mediosPago {
    height: 70%;
    width: 50%;
    right: 0%; }
  .redes {
    height: 70%;
    width: 50%;
    left: 0%; } }

@media (min-width: 678px) and (max-width: 750px) {
  .redes {
    width: 60%;
    margin: 5%;
    left: 13%;
    margin-top: 1%;
    grid-area: redes; }
  .mediosPago {
    width: 60%;
    margin: 5%;
    left: 13%;
    grid-area: mediosPago; }
  .pie {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mediosPago" "redes";
    justify-items: stretch; } }

.mixins .tarjeta-1 {
  background-color: #f1f1f1;
  width: 350px;
  height: 400px;
  margin: 1rem;
  padding: 10px; }
  .mixins .tarjeta-1 p {
    color: #853434; }
  .mixins .tarjeta-1 img {
    width: 195px;
    margin: 0 auto; }

.mixins .tarjeta-2 {
  background-color: #f1f1f1;
  width: 350px;
  height: 400px;
  margin: 1rem;
  padding: 10px; }
  .mixins .tarjeta-2 p {
    color: #1515a8; }
  .mixins .tarjeta-2 img {
    width: 195px;
    margin: 0 auto; }

.mixins .tarjeta-3 {
  background-color: #f1f1f1;
  width: 350px;
  height: 400px;
  margin: 1rem;
  padding: 10px; }
  .mixins .tarjeta-3 p {
    color: red; }
  .mixins .tarjeta-3 img {
    width: 195px;
    margin: 0 auto; }

.primero {
  color: black;
  font-weight: bold;
  font-size: 18px; }

.segundo {
  color: red;
  font-weight: bold;
  font-size: 18px; }
