@mixin tarjeta ($texto){
    background-color: rgb(241, 241, 241);
    width: 350px;
    height: 400px;
    margin: 1rem;
    padding: 10px;
    p{
        color: $texto;
    }
    
    img{
        width: 195px;
        margin: 0 auto;
    }
}

.mixins{
    .tarjeta-1{
        @include tarjeta(rgb(133, 52, 52));
    }
    .tarjeta-2{
        @include tarjeta(rgb(21, 21, 168));
    }
    .tarjeta-3{
        @include tarjeta(red);
    }
}