.medio {
  margin: auto;
  background-color: rgb(9, 55, 77);
  color: white;
  border: solid 7px black;
}

.pie {
  display: grid;
  margin: 0;
  grid-auto-columns: 1fr 1fr;
  grid-template-columns: 250px 250px;
  justify-content: space-evenly;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  gap: 10px;
  row-gap: 50px;
  background-color: rgba(2, 0, 36, 1);
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "mediosPago"
    "redes";
}

.mediosPago {
  text-align: center;
  height: 80%;
  width: 90%;
  margin-top: 8%;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #406882;
  border: solid 3px black;
  position: relative;
  right: 10%;
}

.negrita {
  font-weight: bold;
  color: rgb(56, 161, 168);
}
.redes {
  text-align: center;
  display: inline-block;
  height: 80%;
  width: 90%;
  background-color: #406882;
  border: solid 3px black;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 8%;
  position: relative;
  left: 10%;
}

footer img {
  margin-top: 10px;
}

.cuadro {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: solid 3px black;
  overflow: visible;
}

// media query //

@media screen and (max-width: 677px) {
  .pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mediosPago {
    height: 70%;
    width: 50%;
    right: 0%;
  }

  .redes {
    height: 70%;
    width: 50%;
    left: 0%;
  }
}

@media (min-width: 678px) and (max-width: 750px) {
  
  .redes {
    width: 60%;
    margin: 5%;
    left: 13%;
    margin-top: 1%;
    grid-area: redes;
  }

  .mediosPago {
    width: 60%;
    margin: 5%;
    left: 13%;
    grid-area: mediosPago;
  }

  .pie {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "mediosPago"
      "redes";
  }
}
