.centrado {
  text-align: center;
}

h1 {
  color: $color1;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
  overflow-y: hidden;
}

p {
  color: $color2;
}

.cuadroColor {
  color: white;
  border: solid black 1px;
  height: 25%;
  width: 90%;
  background-color: $color2;
  justify-content: center;
  align-items: center;
}

.marca {
  color: white;
  text-decoration: none;
  &:hover{
      color: $color5;
  }
}

.banner {
  background-color: #1e1e39;
  padding: 1.5rem;
  margin: 2rem auto;
  color: white;
}

.formTitulo {
  color: white;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.form {
  width: 75%;
  background-color: #1a374d;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.colorForm {
  color: white;
  margin: 15px;
}

.enviar {
  margin: 5px;
  font-weight: 500px;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: black;
  }
}

.row h2{
  background-color: $color5;
  color: #fff;
  margin-left: 5px;
  margin-top: 15px;
  height: 2.2rem;
  width: 64rem;
}
// CARRUSEL
.carousel-inner{
  width: 75%;
  height: 30%;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
  
  .carousel-inner p{
  background-color: #1e1e39;
  color: white;
  }
  
  .btn-group a{
  background-color:#406882
  }
  
  .carousel-control-next{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center
  }
  
  .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
  flex-direction: row;
  }
  
  .carousel-control-prev,
  .carousel-control-next{
  filter: invert(100%);
  }

// IMAGENES INDUMENTARIA
.row{
 justify-content: center;
}